<div class="span9">
  
  <table class="table">
    <% @posts.each do |post| %>
      <tr>
        <td>
          <div style="vertical-align: middle;">          
            <div>
              <%= link_to '&#x25b2;'.html_safe, upvote_path(post_id: post.id), remote: true %>
            </div>
            <div id="votes-<%= post.id %>">
              <strong><%= "#{post.value > 0 ? "+" : ""}#{post.value}" %></strong>
            </div>
            <div>
              <%= link_to '&#x25bc;'.html_safe, downvote_path(post_id: post.id), remote: true %>
            </div>            
          </div>
        </td>
        <td> </td>
        <td>
          <div style="vertical-align: left;">
            <div>
              <%=raw BlueCloth.new(post.text).to_html %>
            </div>
            <div>
              by <%= link_to post.user.username, post.user %>
            </div>
          </div>
        </td>
      </tr>      
    <% end %>
  </table>
</div>


<div class="span3">
  <% if user_signed_in? %>
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">New Post</li>
        <%  @post = Post.new
            @post.user = current_user
         %>
        <%= render 'form' %>
      </ul>
    </div>  
  <% end -%>
</div>

